rest_command:
  govee_appliance_request:
    url: https://developer-api.govee.com/v1/appliance/devices/control
    method: PUT
    headers:
      Content-Type: application/json
      Govee-API-Key: !secret govee_api_key
    content_type: "application/json; charset=utf-8"
    payload: '{"device": "{{ device }}","model": "{{ model }}","cmd": {"name": "{{ cmd_name }}","value": "{{ cmd_value }}"}}'
    verify_ssl: true

input_boolean:
  smart_heater_state:
    name: Govee Smart Heater State
    icon: >-
      {% if is_state('input_boolean.smart_heater_state', 'on') %} mdi:radiator
      {% else %} mdi:radiator-off
      {% endif %}

switch:
  - platform: template
    switches:
      smart_heater_lr_toggle:
        value_template: '{{ states("input_boolean.smart_heater_state") }}'
        friendly_name: "Govee Smart Heater"
        turn_on:
          - service: input_boolean.turn_on
            entity_id: input_boolean.smart_heater_state
          - service: script.govee_smart_heater_on
        turn_off:
          - service: input_boolean.turn_off
            entity_id: input_boolean.smart_heater_state
          - service: script.smart_space_heater_off
        icon_template: >-
          {% if is_state('input_boolean.smart_heater_state', 'on') %} mdi:radiator
          {% else %} mdi:radiator-off
          {% endif %}
